<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
  <script type="text/javascript" src="racer.js"></script>
  <title></title>
</head>
<body>

  <script>
    gameId = <%= @game.id %>;

  </script>

  <p id="<%= @player1.id %>"><%= @player1.username %></p>
  <p><%= @player2.username %></p>
  <% @game.players.each do |player| %>
    <p><%= player.username%></p>
  <% end %>


  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </table>
</body>
</html>

